* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: ghostwhite;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #003135;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    font-family: math;
}

main {
    padding: 20px;
    text-align: center;
}

.para{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.cta-button {
    padding: 10px 20px;
    font-size: 1.2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #0fa4af;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cta-button:hover {
    background-color: #024950;
}

footer {
    background-color: #003135;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}